<h1>interview#show</h1>

<h2> Applicant: <%= @interview.applicant.display_name %></h2>
<h2> Employer: <%= @interview.employer.display_name %></h2>
<h2> Interview Date: <%= @interview.date_of_interview %></h2>