<h1>applicants#index<h1>

<ul>
    <% @applicants.each do |applicant|%>
        <li> <%= link_to applicant.display_name, applicant_path(applicant.id)%> </li>
    <% end %>
</ul>

<%= link_to 'crate new applicant', new_applicant_path %>