<h1>employer#index</h1>

<ul>
    <% @employers.each do |employer|%>
        <li> <%= link_to employer.display_name, employer_path(employer.id)%> </li>
    <% end %>
</ul>

<%= link_to 'crate new employer', new_employer_path %>